<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="align-content: center"> Hello world</h1>
<a href="/addUser">Add User</a>



<form th:action="@{/home}"
      th:object="${users}" method="post" class="form-horizontal"
      role="form">
    <ul th:each="user : ${users}">
        <a th:text="${user}" >user</a>
    </ul>
    <tr th:if="${users.isEmpty()}">
        <td class="text-center" colspan="3">No Records found. Add some...!</td>
    </tr>

</form>
</body>
</html>